# compilation and distribution
__pycache__
_ext
*.pyc
*.so
maskrcnn_benchmark.egg-info/
build/
dist/
.pytest_cache

# ipython/jupyter notebooks
#*.ipynb
**/.ipynb_checkpoints/

# checkpoint
checkpoint/

# dataset
# *.png
*.jpg
*.jpeg

# Editor temporaries
*.swn
*.swo
*.swp
*~
*.pth
# Pycharm editor settings
.idea

# vscode editor settings
.vscode

# MacOS
.DS_Store
checkpoints/
predcls-HetSGGPredictor_plus-vg/
output/
datasets_vg/
build/
tmp/
initial_data/BGNN_origin/
initial_data/internal/
initial_data/predcls/
My_Shell/
shell/
visualization/
demo/
cocoapi/
cmds/
apex/
Analysis/
.vscode/
configs_save/
requirements.txt
1000DS_VG_VGKB_train_statistics.cache
50DS_VG_VGKB_train_statistics.cache
.vscode/
obj_pred_info_1800
Pretrained_model/vg_faster_det.pth
pretrained_model
VCTree_predcls
VCTree_sgcls
VCTree_sgdet
VCTreerwt_predcls
VCTreerwt_sgcls
VCTreerwt_sgdet
VCTree
